body {
  background-color: #333245;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
}
header {
  text-align: center;
  color: #f0f8ff;
}

.feedback-form {
  max-width: 400px;
  margin: 0 auto;}

.feedback-form input,.feedback-form .message{
   width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
label{
  color: white;
}

.rating{
  display: flex;
  justify-content:space-evenly;
}

.star i{
cursor: pointer;
font-size: 2em;
color: #e6e6e6;
transition: color 0.2s ease;
margin-bottom: 40px;
}

.star i.active{
color: #ff9c1a;

}

.button {
  display: block;
  width: 100%;
  color: #f0f8ff;
  background-color: #337bb7;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  margin-left: 10px;
  
}
.button:hover {
  background-color: #52adf7;
  cursor: pointer;
}
